<!--The content below is only a placeholder and can be replaced.-->
<div class="main-div">
  <div class="row">
    <div class="column">Home</div>
    <div class="column">About</div>
    <div class="column">Services</div>
    <div class="column">work</div>
  </div>
  <h1>Welcome to {{ title }}!</h1>
  <img
    class="mypic"
    width="300"
    alt="Angular Logo"
    src="https://media.licdn.com/dms/image/D4D03AQF0Ar6PI_oa0A/profile-displayphoto-shrink_400_400/0/1681799527607?e=1688601600&v=beta&t=41mY4k3zCCu6AQifm-785OcBhwvZ8eYW-XWQ57tb_3o"
  />
</div>
<div class="content-div">
  <p>
    Hi 👋 I am a Full Stack Software Engineer (Backend Heavy) 👨‍💻 with 1.3 years
    of working experience at a service based company. I have completed my
    Bachelor's Degree 🎓 in Computer Science Engineering 🧑‍💻🤖 in 2022 with
    First Division. I am a result oriented and highly optimistic person with
    curiosity to learn new skills and open to feedback for improvement.
  </p>
</div>
